html {
    min-height: 100%;
    background-image: url("holmes.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rotate {
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
